.grid {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  height: 100px;
  border: rgb(253, 253, 253);
  flex: 50%;
}

.grid div {
  width: 15.6px;
  height: 8px;
}

.gridGame {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: 500px;
  border: orange;
}

.gridGame div {
  width: 70px;
  height: 70px;
}

.zero {
  position: relative;
  background: #ffffff;
}

.one {
  background-color: #73bde0;
  border: 0px;
}

.two {
  background-color: #e77eb3;
  border: 0px;
}

.three {
  background-color: mediumslateblue;
  border: 0px;
}
.icecream {
  background-image: url("images/icecream1.jpg");
}

.wall {
  background-color: mediumslateblue;
}

.donut {
  background-image: url("images/donut1.jpg");
}

.maggie {
  background-image: url("images/angrybaby1.png");
}

.maggie.happy-simpson {
  background-image: url(images/happybaby1.jpg);
}
.homer {
  background-image: url("images/angrydad1.png");
}

.homer.happy-simpson {
  background-image: url("images/happyDad1.png");
}

.bart {
  background-image: url("images/angrybrother1.png");
}

.bart.happy-simpson {
  background-image: url("images/happyBrother1.png");
  border-radius: 10px;
  border-color: #7144c5;
}

.marge {
  background-image: url("images/angrymum1.png");
}

.marge.happy-simpson {
  background-image: url("images/happyMum1.jpg");
  border-radius: 10px;
  border-color: #7144c5;
}

.happy-simpson {
  border: 10px;
  border-radius: 10px;
  border-color: #7144c5;
}

.lisa {
  background-image: url("images/lisa3.png");
  border-radius: 1px;
}

.lisa-left {
  background-image: url("images/lisaR1.webp");
  border-radius: 1px;
  transform: scaleX(-1);
}

.lisa-right {
  background-image: url("images/lisaR1.webp");
  border-radius: 1px;
}

.lisa-up {
  background-image: url("images/lisaR1.webp");
  border-radius: 1px;
}

.lisa-down {
  background-image: url("images/lisaR1.webp");
  border-radius: 1px;
}

.write {
  font-family: cursive;
  font-size: 26px;
  text-align: center;
  width: 90%;
  width: 150px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border: solid 10px rgb(252, 249, 249);
  border-radius: 200px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: white;
  -webkit-background-clip: text;
  background-size: contain;
  background-image: url(images/pink3.jpg);
  color: transparent;
  transition: all 800ms ease-in-out;
}
.write:hover {
  font-size: 13px;
  -webkit-background-clip: text;
  background-size: contain;
  background-image: url(images/pink3.jpg);
  color: transparent;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.write2 {
  font-family: cursive;
  font-size: 14px;
  text-align: left;
  background-color: white;
  margin-top: 117px;
  background: white;
  -webkit-background-clip: text;
  background-size: contain;
  background-image: url(images/pink3.jpg);
  color: transparent;
  width: 600px;
  height: 300px;
  display: block;
  cursor: pointer;
  margin-right: 10px;
}

button {
  font-size: 60px;
  font-weight: 900;
  font-family: cursive;
  width: 40%;
  margin-left: 18%;
  background-image: url(images/pink3.jpg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  font-size: 36px;
  border-color: white;
  border-radius: 70px;
  transition: all 800ms ease-in-out;
}
button:hover {
  cursor: pointer;
  background: white;
  -webkit-background-clip: text;
  background-size: contain;
  background-image: url(images/pink3.jpg);
  color: transparent;
}
