.grid {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  height: 100px;
  border: orange;
  flex: 50%;
}

.grid div {
  width: 15.6px;
  height: 8px;
}

.grid1 {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: 530px;
  border: orange;
}

.grid1 div {
  width: 50px;
  height: 50px;
}

.zero {
  position: relative;
  background: #fcb3af;
}

.one {
  background-color: #101357;
  border: 0px;
}

.two {
  background-color: #00a0a0;
  border: 0px;
}

.three {
  background-color: #007f4f;
  border: 0px;
}
.pac-dot {
  position: relative;
  background: #ffd5cd;
}

.wall {
  background-color: mediumslateblue;
}

.power-pellet {
  width: 100px;
  height: 100px;
  left: 20%;
  top: 23%;
  background: #c3aed6;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.blinky {
  background-color: red;
  border: 0px;
}

.pinky {
  background-color: rgb(46, 219, 23);
  border: 0px;
}

.inky {
  background-color: blue;
  border: 0px;
}

.clyde {
  background-color: orange;
  border: 0px;
}

.scared-ghost {
  background-color: aquamarine;
  border: 0px;
}

.pac-man {
  background-color: yellow;
  border: 20px;
}

.write {
  font-family: cursive;
  font-size: 25px;
  text-align: center;
  background-color: #7144c5;
  width: 90%;
  padding: 30px;
  width: 150px;
  opacity: 0.6;
  :30px ;
  color: white;
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border: solid 10px rgb(252, 249, 249);
  border-radius: 300px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
